.productcardContainer {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.productcardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productcardContent {
  font-size: 1rem;
  line-height: 1.5;
}
